* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*:focus-visible {
  outline: 2px solid rgb(49, 32, 162);
  outline-offset: 2px;
}

/* reusable */

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

/* Game */
button.square {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  width: 3rem;
  background-color: rgb(216, 216, 216);
}

.board {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin: 0.5rem;
}

.board-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

/* Counter */
.counter {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 1rem;
  padding: 1rem 2rem;
  margin: 0 auto;
  border-radius: 5px;
  box-shadow: 0 0 2px 0px rgba(17, 0, 127, 0.5);
  min-width: 20rem;
  min-height: 20rem;
  transition: 0.25s ease-in-out;
}

.counter_odd {
  background-color: rgb(251, 229, 229);
}

.counter_even {
  background-color: rgb(220, 249, 240);
}

.counter_button {
  min-width: 10rem;
  padding: 1rem;
  border-radius: 2rem;
  border: none;
  background-color: rgb(149, 189, 254);
  color: rgb(12, 47, 102);
  transition: 0.25s ease-in-out;
  cursor: pointer;
}

.counter_button:hover {
  background-color: rgb(0, 119, 255);
  color: rgb(201, 222, 255);
}

.counter_button_stop {
  min-width: 9rem;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  border: none;
  background-color: rgb(255, 173, 172);
  color: rgb(65, 17, 16);
  transition: 0.25s ease-in-out;
  cursor: pointer;
}

.counter_button_stop:hover {
  background-color: rgb(225, 47, 44);
  color: rgb(232, 212, 212);
}

.counter_button_reset {
  min-width: 9rem;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  border: none;
  background-color: rgb(253, 213, 200);
  color: rgb(125, 75, 58);
  transition: 0.25s ease-in-out;
  cursor: pointer;
}

.counter_button_reset:hover {
  background-color: rgb(255, 119, 0);
  color: white;
}

/* to do list */

.todo {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem 1rem;
  box-shadow: 0 0 2px 0 rgb(131, 171, 208);
  min-width: 25rem;
}

.todo__form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.todo__form input {
  width: 100%;
  padding: 1rem 1.5rem;
  border: none;
  box-shadow: 0 0 1px 0px rgba(17, 0, 127, 0.75);
}

.todo__button__submit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  min-height: 3rem;
  border: none;
  background-color: rgb(149, 189, 254);
  color: rgb(12, 47, 102);
  transition: 0.25s ease-in-out;
  cursor: pointer;
}

.todo__button__submit:hover {
  background-color: rgb(0, 119, 255);
  color: rgb(201, 222, 255);
}

/* to do list of tasks */

.todo__list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

/* to do task */

.todo__task {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem;
  width: 100%;
  border-radius: 0.25rem;
  box-shadow: 0 0 1px 0px rgba(17, 0, 127, 0.75);
}

.todo__task__button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 2rem;
  min-height: 2rem;
  border-radius: 2rem;
  border: none;
  background-color: rgb(190, 212, 248);
  color: rgb(3, 63, 94);
  transition: 0.25s ease-in-out;
  cursor: pointer;
}

/* completed task */
.todo__task__completed {
  background-color: rgb(246, 253, 251);
  box-shadow: 0 0 1px 0 rgb(4, 87, 55);
}

.todo__task__completed span {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(143, 221, 174);
  min-width: 2rem;
  min-height: 2rem;
  border-radius: 2rem;
}

.todo__view {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.todo__view__button {
  background-color: rgb(190, 212, 248);
  color: rgb(37, 60, 96);
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1rem;
  min-width: fit-content;
  border: none;
  border-radius: 2px;
  transition: 0.25s ease-in-out;
  cursor: pointer;
}

.todo__view__button.active {
  background-color: rgb(198, 220, 255);
  border: 2px solid rgb(241, 246, 255);
  box-shadow: 0 0 0 2px rgb(122, 170, 247);
}

.todo__view__button span {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background-color: rgb(222, 232, 249);
  color: rgb(37, 60, 96);
}

.todo__view__button:hover {
  background-color: rgb(149, 189, 254);
  color: rgb(37, 60, 96);
}
